################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JewelryApp/v15
/JewelryApp/obj/Debug
